<?xml version="1.0"?>
<config>
    <modules>
        <SR_UpsShip>
            <version>0.0.1</version>
        </SR_UpsShip>
    </modules>
    <global>
        <blocks>
            <sr_upsship>
                <class>SR_UpsShip_Block</class>
            </sr_upsship>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>SR_UpsShip_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <sr_upsship>
                <class>SR_UpsShip_Model</class>
            </sr_upsship>
        </models>
        <helpers>
            <sr_upsship>
                <class>SR_UpsShip_Helper</class>
            </sr_upsship>
        </helpers>
        <resources>
            <upsship_setup>
                <setup>
                    <module>SR_UpsShip</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </upsship_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote_address>
                <shipping_ups_pickup_id>
                    <to_order_address>*</to_order_address>
                </shipping_ups_pickup_id>
                <shipping_additional_information>
                    <to_order_address>*</to_order_address>
                </shipping_additional_information>
            </sales_convert_quote_address>
        </fieldsets>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sr_upsship>
                    <file>sr/upsship.xml</file>
                </sr_upsship>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mage_Catalog>
                    <files>
                        <default>SR_UpsShip.csv</default>
                    </files>
                </Mage_Catalog>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <sr_upsship>
                    <file>sr/upsship.xml</file>
                </sr_upsship>
            </updates>
        </layout>
        <events>
            <checkout_controller_onepage_save_shipping_method>
                <observers>
                    <save_additional_shipping_to_quote>
                        <class>SR_UpsShip_Model_Observer</class>
                        <method>saveAdditionalShipping</method>
                    </save_additional_shipping_to_quote>
                </observers>
            </checkout_controller_onepage_save_shipping_method>
        </events>
        <translate>
            <modules>
                <Mage_Catalog>
                    <files>
                        <default>SR_UpsShip.csv</default>
                    </files>
                </Mage_Catalog>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <SR_UpsShip before="Mage_Adminhtml">SR_UpsShip_Adminhtml</SR_UpsShip>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <carriers>
            <upsship>
                <active>1</active>
                <sort_order>10</sort_order>
                <model>sr_upsship/carrier</model>
                <title>PickUPS Ship</title>
                <price>10</price>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
            </upsship>
        </carriers>
    </default>
</config>