<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <studioraz translate="label" module="sr_upsship">
            <label>Studio Raz</label>
            <sort_order>180</sort_order>
        </studioraz>
    </tabs>
    <sections>
        <carriers>
            <groups>
                <upsship translate="label">
                    <label>PickUP Ship</label>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <price translate="label">
                            <label>Price</label>
                            <frontend_type>text</frontend_type>
                            <depends><use_tablerate>0</use_tablerate></depends>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </price>
                        <free_shipping_limit translate="label">
                            <label>Minimum for Free Shipping</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>26</sort_order>
                            <depends><use_tablerate>0</use_tablerate></depends>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment>Minimum subtotal amount to get free shipping</comment>
                        </free_shipping_limit>
                        <pickup_location_type>
                            <label>Pickup Location Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>sr_upsship/system_config_source_locationtype</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </pickup_location_type>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>31</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <use_tablerate translate="label">
                            <label>Use Table Rates</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </use_tablerate>
                        <subtract_amount translate="label">
                            <label>Amount to be subtracted from table rates</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><use_tablerate>1</use_tablerate></depends>
                        </subtract_amount>
                    </fields>
                </upsship>
            </groups>
        </carriers>
        <upsship>
            <label>PickUP Ship Integration</label>
            <tab>studioraz</tab>
            <frontend_type>text</frontend_type>
            <sort_order>20</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <is_live_mode>
                            <label>Is Live Mode</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <config_path>upsship/general/is_live_mode</config_path>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <validate>validate-no-empty</validate>
                        </is_live_mode>
                        <service_domain_prefix_live>
                            <label>Live API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>required-entry validate-url</frontend_class>
                        </service_domain_prefix_live>
                        <service_domain_prefix_dev>
                            <label>Sandbox API URL</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>required-entry validate-url</frontend_class>
                        </service_domain_prefix_dev>
                        <customer_number>
                            <label>Account Number</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_class>required-entry validate-digits</frontend_class>
                        </customer_number>
                        <login>
                            <label>Username</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>UPS email address</comment>
                            <frontend_class>required-entry validate-email</frontend_class>
                        </login>
                        <password>
                            <label>Password</label>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_type>obscure</frontend_type>
                            <backend_model>adminhtml/system_config_backend_encrypted</backend_model>
                        </password>
                    </fields>
                </general>
            </groups>
        </upsship>
    </sections>
</config>