.ups-ship-additional {
    margin-bottom: 20px;
}

.ups-pickups-48 {
    border: 1px solid #8ec840 !important;
    box-sizing: border-box;
}

.ups-ship-additional.ups-invalid .ups-pickups-48 {
    border-color: #FF0000 !important;
}

.ups-pickups-info-2 {
    display: none;
    width: auto;
    height: 105px;
    border: 1px solid #8ec840;
    color: #25408f;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}